:root {
  --font-size: 16px;
  --font-family: 'Roboto', sans-serif;
  --letter-spacing: 0.1em;

  --color-black: #000000;
  --color-light-gray: #e5e5e5;
  --color-dark-gray: #333333;
  --color-light: #efefef;
  --color-white: #ffffff;

  --container-primary: 1110px;

  --gap: 20px;
  --gap-very-small: 10px;
  --gap-small: 15px;
  --gap-large: 30px;
  --gap-very-large: 40px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: var(--font-family);
  font-size: var(--font-size);
}

body {
  font-size: 0.875rem;
  background-color: var(--color-light);
  color: var(--color-black);
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  width: min(100% - var(--gap) * 2, var(--container-width));
  margin-inline: auto;
}

.header {
  display: flex;
  flex-direction: column
}

.navbar-first {
  display: flex;
  align-items: center;
  order: 1;
  min-height: 80px;
  background-color: var(--color-white);
}

.navbar-first__list {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 0 var(--gap);
}

.navbar-first__link {
  display: block;
  padding: 7px var(--gap-very-small);
}

.navbar-info {
  margin-bottom: 1px;
  padding: var(--gap) 0;
  background-color: var(--color-white);
}

.navbar-info__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: var(--gap);
}



.logo__link {
  display: flex;
  align-items: center;
  gap: var(--gap);
}

.logo__image {}

.logo__title {
  font-size: 36px;
  line-height: 42px;
  letter-spacing: var(--letter-spacing);
}

.feedback {
  display: flex;
  align-items: center;
  gap: var(--gap-very-large);
}

.feedback__phone {}

.feedback__button {}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  padding: 0.25em 1em;
  min-width: 170px;
  min-height: 40px;
  border-width: 2px;
  border-style: solid;
  border-radius: 40px;
  cursor: pointer;
}

.navbar-second {
  display: flex;
  align-items: center;
  order: -1;
  min-height: 50px;
}

.navbar-second__list {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: var(--gap);
}


.navbar-second__link {
  display: block;
  padding: 7px var(--gap-very-small);
}