:root {
  --font-size: 16px;
  --font-family: 'Roboto', sans-serif;
  --letter-spacing: 0.1em;

  --color-black: #000000;
  --color-light-gray: #e5e5e5;
  --color-dark-gray: #828282;
  ;
  --color-light: #efefef;
  --color-white: #ffffff;
  --color-accent: #f13c6e;

  --container-primary: 1110px;
  --container-secondary: 540px;

  --gap: 20px;
  --gap-very-small: 10px;
  --gap-small: 15px;
  --gap-large: 30px;
  --gap-very-large: 40px;

  --line-height-small: 1.167;
  --line-height-large: 1.43;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: var(--font-family);
  font-size: var(--font-size);
}

body {
  font-size: 0.875rem;
  background-color: var(--color-light);
  color: var(--color-black);
}

a {
  text-decoration: none;
  color: inherit;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: min(100% - var(--gap) * 2, var(--container-primary));
  margin-inline: auto;
}

.container--sm {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 540px;
  background-color: var(--color-accent);
  color: var(--color-white);
  text-align: center;
  padding: 35px 40px;
  margin: 0px 15px;
}

.header {
  display: flex;
  flex-direction: column
}

.navbar-first {
  display: flex;
  align-items: center;
  order: 1;
  min-height: 80px;
  background-color: var(--color-white);
}

.navbar-first__list {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 0 var(--gap);
}

.navbar-first__link {
  display: block;
  padding: 7px var(--gap-very-small);
  font-size: 1rem;
}

.navbar-info {
  margin-bottom: 1px;
  padding: var(--gap) 0;
  background-color: var(--color-white);
}

.navbar-info__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: var(--gap);
}

.logo__link {
  display: flex;
  align-items: center;
  gap: var(--gap);
}

.logo__title {
  font-size: 36px;
  line-height: 42px;
  letter-spacing: var(--letter-spacing);

  color: var(--color-accent);
}

.feedback {
  display: flex;
  align-items: center;
  gap: var(--gap-very-large);
}

.feedback__phone {
  font-size: 1rem;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  padding: 0.25em 1em;
  min-width: 170px;
  min-height: 40px;
  border-width: 2px;
  border-style: solid;
  border-radius: 40px;
  cursor: pointer;
}

.button--primary {
  background-color: var(--color-white);
  border-color: var(--color-accent);
}

.navbar-second {
  display: flex;
  align-items: center;
  order: -1;
  min-height: 50px;
  margin-top: 5px;
}

.navbar-second__list {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 0 var(--gap-very-small);
}

.navbar-second__link {
  display: block;
  padding: 7px var(--gap-very-small);
}

.advertising {
  background-image: url(../img/Rectangle.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  padding-top: 157px;
  padding-bottom: 202px;
  color: var(--color-white);
  min-height: 604px;
}

.advertising__title {
  margin-bottom: 40px;
  font-size: 48px;
  line-height: var(--line-height-small);

}

.advertising__text {
  margin-bottom: 54px;
  font-size: 0.875rem;
  line-height: var(--line-height-large);
  max-width: 308px;
}

.advertising__button {
  background-color: var(--color-accent);
  border-color: var(--color-white);
  color: var(--color-white);

  border-radius: 20px;
  border: 2px solid;
  padding: 9px 47px;
}

.goods__title {
  margin-top: 78px;
  margin-bottom: 20px;
  font-size: 24px;
  line-height: var(--line-height-small);
}

.goods__cards {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 30px;

}

.goods-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  flex-grow: 1;
  flex-shrink: 1;
  padding: 25px;
  text-align: center;
  background-color: var(--color-white);

  max-width: 255px;
  max-height: 363px;
  margin-top: 20px;
}

.goods-item__title {
  font-size: 0.875rem;
  line-height: var(--line-height-large);
  margin-bottom: 13px;
}

.goods-item__picture {
  order: -1;
  margin-bottom: 15px;
}

.goods-item__price {
  font-weight: 500;
  font-size: 21px;
  line-height: 1.19;
  letter-spacing: 0.05em;
  margin-bottom: 13px;
}

.goods-item__button {
  font-size: 0.875rem;
  line-height: var(--line-height-large);
  letter-spacing: 0.05em;
  color: var(--color-white);
  border-radius: 20px;
  border: 2px solid var(--color-accent);
  background-color: var(--color-accent);
  color: var(--color-white);
  padding: 7px 38px;
  cursor: pointer;
}

.information {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 51px;
  margin-top: 49px;
}

.subscribe__item {
  margin-right: 65px;
  text-align: left;
}

.subscribe__title {

  margin-bottom: 18px;
  font-size: 18px;
  line-height: var(--line-height-small);
}

.subscribe__text {
  margin-bottom: 25px;
  line-height: 21px;
  text-align: left;
}

.subscribe__input {
  border-radius: 20px;
  border: 1px solid var(--color-white);
  padding: 8px 31px;
  text-align: left;
}

.subscribe__image-block {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 6px;
}

.location__item {
  margin-left: 0;
  text-align: left;
}

.location__title {
  font-size: 18px;
  line-height: var(--line-height-small);
  margin-bottom: 18px;
}

.location__text {
  line-height: 21px;
  margin-bottom: 33px;
}

.location__button {
  font-size: 0.875rem;
  line-height: var(--line-height-large);
  color: var(--color-white);
  border-radius: 20px;
  border: 2px solid var(--color-white);
  background-color: var(--color-accent);
  color: var(--color-white);
  padding: 6px 26px;
  cursor: pointer;
  text-align: center;
}

.location__image-block {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 6px;
}

.brands {
  border-color: var(--color-light);
  margin: 49px 20px;

}

.brands__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  min-width: var(--container-primary);
  height: 357px;

}

.brands__item {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px 62px;
  background-color: var(--color-white);
  border: 0.5px solid var(--color-light);
}

.brands__image {
  width: 150px;
  height: 50px;
}

.watched__title {
  margin-top: 75px;
  margin-bottom: 20px;
  font-size: 24px;
  line-height: var(--line-height-small);
}

.watched__cards {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 30px;
}

.watched-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  flex-grow: 1;
  flex-shrink: 1;
  padding: 25px;
  text-align: center;
  background-color: var(--color-white);

  max-width: 255px;
  max-height: 363px;
  margin-top: 20px;
}

.watched-item__title {
  font-size: 0.875rem;
  line-height: var(--line-height-large);
  margin-bottom: 13px;
}

.watched-item__picture {
  order: -1;
  margin-bottom: 15px;
}

.watched-item__price {
  font-weight: 500;
  font-size: 21px;
  line-height: 1.19;
  letter-spacing: 0.05em;
  margin-bottom: 13px;
}

.watched-item__button {
  font-size: 0.875rem;
  line-height: var(--line-height-large);
  letter-spacing: 0.05em;
  color: var(--color-white);
  border-radius: 20px;
  border: 2px solid var(--color-accent);
  background-color: var(--color-accent);
  color: var(--color-white);
  padding: 7px 38px;
  cursor: pointer;
}

.footer {
  max-width: 100vw;
  background-color: var(--color-white);
}

.footer-category {

  display: flex;
  flex-direction: row;
  margin-top: 57px;
  gap: 0 30px;
  align-items: center;
  justify-content: space-between;
}

.footer__container {
  display: flex;
  align-items: flex-start;
  margin-top: 80px;
  min-height: 375px;
}

.footer-category__container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  max-width: 255px;
  max-height: 253px;
}

.footer-category__title {
  margin-top: 18px;
  margin-bottom: 13px;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
}

.line {
  width: 255px;
  border: 1px solid var(--color-light);
  height: 0px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.footer-category__list {
  list-style: none;
  margin-top: 15px;
}

.footer-category__link {
  display: block;
  font-size: 12px;
  line-height: 28px;
  color: var(--color-dark-gray);
}

hr {
  border: 1px solid var(--color-light);
  height: 0px;
}

.footer-info {
  padding-top: 15px;
}

.footer-info__container {
  margin-bottom: 1px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 20px;
  padding-bottom: 11px;
}

.social__list {
  list-style: none;
  display: flex;
  align-items: center;
  padding-left: 0;
}

.social__item {
  margin-right: 18px;
}

.social__link {
  display: block;
  width: 45px;
  height: 45px;
  border: 2px solid var(--color-accent);
  border-radius: 100%;
  background-repeat: no-repeat;
  background-position: center center;
}

.social-youtube {
  background-image: url(../img/Vector.svg);
}

.social-vk {
  background-image: url(../img/Group.svg);
}

.social-facebook {
  background-image: url(../img/facebook-logo.svg);
}

.social-instagram {
  background-image: url(../img/instagram.svg);
}

.footer-bottom {
  min-width: 100%;
  background-color: var(--color-light);
}

.footer-bottom__container {
  margin-top: 24px;
  padding: 25px 0px;
  display: flex;
  justify-content: space-between;
  padding-bottom: 30px;
}

.footer-bottom__text {
  font-size: 12px;
  line-height: 14px;
  color: var(--color-dark-gray);
}

.footer-bottom__link {
  font-size: 12px;
  line-height: 14px;
  color: var(--color-dark-gray);
}